*{
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    display: block;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    font-size: 0vw;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.sectionfirst, .sectionsecond,.sectionfive, .sectionsix, .sectionthird, .tablet1, .tablet2, .tablet3,.cms1{
    display: none;
}
.sectionmain{
    display: block;
    width: 100%;
}
.sectionblock{
    display: block;
}
.sectionnone{
    display: none;
}

.mob1, .mob2{
    width: 100%;
    height: 100%;
    position: absolute;
}
.mob1{
z-index: 1;
}
.mob2{
    z-index: 2;
}
.mobfon{
    width: 100%;
    height: 100%;
}
.mobper{
width: 40%;
animation: rotleft 15s linear infinite; 
margin-left: 20%;
margin-top: 30%;
}

button{
    background: transparent; /* прозрачная кнопка */
    cursor: pointer;/* изменение курсора */
    border: 0px;
}

/* main display */
.fon1{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.moveback2 {
    width: 135vw;
    height: 75vw;
    background-image: url('../img/fonbig.png');
    margin-left: -17vw;
    margin-top: -13vh;
}
.cover {
    background-size: cover;
    background-repeat: no-repeat;
}
.pos {position: absolute;}





.uppart{
    width: 100%;
    position: relative;
    display: flex;
}
.graybox1, .graybox2, .graybox3{
    width: 4%;
    height: 10%;
    position: relative;
    background-color: #4B4B4B;
    text-align: center;
}
.graybox1{
    margin-left: 22vw;
    margin-top: 8%;
}
.graybox2{
    margin-top: 23vh;
    margin-left: 20%;
}


.pod{
    font-weight: bold;
    font-size: 1.55vw;
    color: white;
    margin-top: 2%;
}
.but1, .but2, .but3{
    position: relative;
    width: 43%;
    margin-left: 0vw;
}
.but1{
    width:50%;
    margin-left: -8%;
    margin-top: -4%;
}

.uni1{
    width: 100%;
    position: relative;
    margin-top: 2vh;
}

.downpart{
    width: 100%;
    position: relative;
    display: flex;
}
.uni2{
    width: 100%;
    position: relative;
    margin-top: 4.5vh;
    margin-left: 7.2vw;
}
.graybox3{
    margin-top: 22%;
    margin-left: 9vw;
}
.but3{
    width: 23%;
    margin-left: -3%;
    margin-top: -5%;
}
.uni3{
    width: 108%;
    position: relative;
    margin-top: -21vh;
    margin-left: 14.5vw;
}

/* first section */

.navigation{
    height: 100%;
    width: 30%;
    background-color: #0b0b0b;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    position: absolute;
}
.name{
    font-size: 3vw;
    color: white;
    margin-top: 9%;
    margin-left: 9%;
}
.button_sectionfour{
width: 24%;
margin-left: 2.8%;
}
.info1, .info2, .info3, .info4, .info5{
    width: 24%;
    margin-left: 1.7%;
    }
.close{
width: 100%;
}
.inf{
width: 100%;
}

.mus{
    position: absolute;
    width: 80%;
    height: 100%;
    margin-left: 20%;
}
.fir{
    position: absolute;
    z-index: 1;
width: 100%;
height: 100%;
}
.platefirst{
    width: 100vw;
    height: 100vh;
}
.sec{
    position: absolute;
    z-index: 2;
width: 50%;
margin-left: 34%;
margin-top: 13%;
animation: rotleft 2s linear infinite;
}
@keyframes rotleft {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }
.rotcircle{
    width: 100%;
    height: 100%;
}
.third{
    position: absolute;
    z-index: 3;
width: 50%;
margin-left: 34.5%;
margin-top: 13%;
}
.rotrock{
animation: rotright 8s linear infinite;
}
.rotrock2{
    animation: rotright 12s linear infinite;
}
.rotrock3{
    animation: rotright 20s linear infinite;
}
@keyframes rotright {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }
.rotrock, .rotrock2,.rotrock3{
    width: 100%;
    height: 100%;
}
.static{
    position: absolute;
    z-index: 4;
width: 65%;
margin-left: -2%;
margin-top: 35%;
/* background-color: blue; */
transform-origin: top right;
animation: rotbig 15s linear infinite;
}
@keyframes rotbig {
    0%{
       transform: rotate(0deg);
      }
   75%{
       transform: rotate(80deg);
      }
    80%{
       transform: rotate(340deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
   }
.rocks{
    width: 100%;
    height: 100%;
}
.text{
    background-color: black;
    position: absolute;
    z-index: 5;
    width: 13%;
    height: 35%;
    margin-top: 10%;
    margin-left: 29%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.description{
    font-size: 1.2vw;
    color: white;
}
.buttons{
    margin-top: 45%;
}
.path1{
    width: 30%;
    position: absolute;
    margin-left: -53%;
}
.path2{
    width: 50%;
    position: absolute;
    margin-left: -37%;
    margin-top: 5%;
}
.shadow{
    position: absolute;
    z-index: 4;
    width: 100%;
}
.shadow2{
    position: absolute;
    z-index: 4;
    width: 90%;
}
.shadow3{
    position: absolute;
    z-index: 4;
    width: 90%;
}

.meteo{
    position: absolute;
    z-index: 6;
    width: 80%;
}
.meteo2{
    position: absolute;
    z-index: 6;
    width: 70%;
    margin-left: -10%;
}
.meteo3{
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: -10%;
}

.fly1{
    animation: path1 15s linear infinite;
    animation-delay: 3s;
}
@keyframes path1 {
    0%{ left: 0%; top: 20%; }
    25%{ left: 32%; top: 10%; }
    50%{ left: 70%; top: 5%; }
    75%{ left: 107%; top: 0%; }
    100%{ left: 168%; top: 5%; }
}
.fly2{
    animation: path2 15s linear infinite;
    animation-delay: 3s;
}
@keyframes path2 {
    0%{ left: 0%; top: 20%; }
    25%{ left: 43%; top: 10%; }
    50%{ left: 86%; top: 5%; }
    75%{ left: 131%; top: 0%; }
    100%{ left: 175%; top: 5%; }
}


.platesecond{
    width: 100%;
    height: 100.08%;
}



.space{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.prison{
    width: 100%;
    height: 100%;
}
.crater1{
    position: absolute;
    z-index: 2;
    width: 120%;
    height: 220%;
    margin-top: -37%;
    margin-left: -7%;
animation: rotleft 12s linear infinite;
transform-origin: 47% 53%;
}
@keyframes rotleft {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
    }
.row1{
    width: 100%;
    height: 100%;
}
.crater2{
    position: absolute;
    z-index: 2;
    width: 120%;
    height: 220%;
    margin-top: -37%;
    margin-left: -7%;
animation: rotright 10s linear infinite;
transform-origin: 47% 53%;
}
@keyframes rotright {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(-360deg);
      }
    }
.row2{
    width: 100%;
    height: 100%;
}
.crater3{
    position: absolute;
    z-index: 2;
    width: 120%;
    height: 220%;
    margin-top: -37%;
    margin-left: -7%;
animation: rotright 5s linear infinite;
transform-origin: 47% 53%;
}
@keyframes rotleft {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
    }
.row3{
    width: 100%;
    height: 100%;
}

.concreteup{
    position: absolute;
    z-index: 3;
    width: 101%;
    height: 100%;
}
.moveup{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 80%;
}
.moveup:hover{
    cursor: n-resize;
}
.up{
width: 100%;
height: 100%;
}

.navigation1{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
   }
.button_sectionfour1{
    width: 72%;
    margin-left: 8.4%;
}
.info4, .info5{
    width: 72%;
    margin-left: 5.1%;
    height: 20%;
    }

.concreteup2{
    position: absolute;
    z-index: 4;
    width: 102%;
}
.up2{
    width: 100%;
}

.concreteleft{
    position: absolute;
    z-index: 4;
    width: 50%;
    margin-left: 0.05%;
    margin-top: 28.8%;
}
.left{
    width:100%;
    height: 100%;
}
.concreteright{
    position: absolute;
    z-index: 4;
    width: 50%;
    margin-left: 52.5%;
    margin-top: 28.8%;
}
.right{
    width: 100%;
    height: 100%;
}
.concreteup2:hover{
    cursor: n-resize;
}
.concreteleft:hover{
    cursor: w-resize;
}
.concreteright:hover{
    cursor: e-resize;
}

.cosmos, .cms1, .cms2, .cms3, .cms4, .cms5{
    width: 100%;
    height: 100%;
}
.tablet1, .tablet2, .tablet3{
    width: 30%;
    position: absolute;
    z-index: 10;
    margin-left: 40%;
    margin-top: 4%;
    background-color: blue;
    /* background: url('../img/tablet.png'); */
}
.tab{
    width: 100%;
    height: 100%;
    position: relative;
}
.no, .no2, .no3{
    position: relative;
    margin-left: 84%;
    margin-top: -100%;
    width: 15%;
}
.in1{
    margin-left: 10%;
    margin-top: -40%;
    color: black;
    font-size: 1.55vw;
    position: relative;
    
}